*.symbolMap
*.class
v_gwtapp/v_gwtapp/war/v_gwtapp/*
v_gwtapp/v_gwtapp/war/v_gwtapp/*/**
v_gwtapp/v_gwtapp/gwt-unitCache/*
v_gwtapp/v_gwtapp/gwt-unitCache/*/**
v_jpa/build/classes/*
v_jpa/build/classes/*/**
